@import '../../Components/GlobalStyles/color.scss';

.login-page {
     background-image: url('../../assets/bg-scene.svg');
     background-repeat: no-repeat;
     background-size: cover;

     .login-block {
          animation: slideFromBottom 0.4s ease-out forwards;
          height: 100vh;
          // width: 100vw;
          max-width: 920px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          

          .side-information {
               height: 470px;
               box-shadow: 10px 0 20px 2px rgba(0, 0, 0, 0.086);
               z-index: 0;
               border-radius: 0 17px 17px 0;
               background-color: $bg-primary;

               .avocado-hi {
                    width: 60%;
                    align-self: center;
                    transition: 0.3s;
                    margin-top: 20px;

                    &:hover {
                         transform: scale(1.03);
                    }
               }

               .title {
                    font-size: 3.5rem;
                    font-weight: 700;
                    margin-bottom: 40px;
                    opacity: 80%;
                    user-select: none;
               }
          }

          .login-form {
               z-index: 1;
               background-color: $bg-primary;
               border-radius: 17px;
               box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.132);
               border: 1px solid rgba(209, 213, 219, 0.3);
               // width: min(450px, 100%);
               max-width: 480px;
               height: 500px;
               margin: 0 auto;
               padding: 15px 0;
               text-align: center;
               border-bottom: 6px solid $theme-color-primary;
               position: relative;

               .logo {
                    width: 100px;
                    user-select: none;
               }

               .title {
                    font-size: 2.7rem;
                    font-weight: 700;
                    margin-bottom: 40px;
                    opacity: 90%;
                    user-select: none;
               }

               .input-block {
                    position: relative;
                    margin: 13px 0;

                    .label {
                         position: absolute;
                         top: 0px;
                         opacity: 40%;
                         font-size: 1.5rem;
                    }

                    .input {
                         width: 80%;
                         height: 40px;
                         border: none;
                         border-bottom: 1.5px solid $light-grey;
                         transition: 0.1s;
                         margin: 12px 0;
                         padding-right: 33px;

                         &:focus {
                              outline: none;
                              border-bottom: 3px solid $theme-color-primary;
                         }
                    }

                    .icon {
                         font-size: 2.3rem;
                         position: absolute;
                         bottom: 20px;
                         right: 50px;
                         cursor: pointer;

                         &.hide {
                              display: none;
                         }

                         &.confirm-wrong {
                              color: $error-color;
                              opacity: 90%;
                         }

                         &.confirm-correct {
                              color: $success-color;
                              display: none;
                         }
                    }

                    .incorrect-msg {
                         position: absolute;
                         font-size: 1.3rem;
                         width: 300px;
                         top: 57px;
                         right: 45px;
                         text-align: right;
                         color: $error-color;
                         font-weight: 500;
                    }

                    &.incorrect {
                         .input {
                              border-bottom: 3px solid $red;
                         }

                         .label {
                              color: $error-color;
                         }
                    }
               }

               .button-login {
                    border: none;
                    width: 80%;
                    background-color: $theme-color-primary;
                    padding: 15px 0;
                    font-weight: 600;
                    font-size: 2rem;
                    color: #fff;
                    transition: 0.2s;
                    margin: 10px;
                    border-radius: 12px;
                    cursor: pointer;

                    &:hover {
                         opacity: 80%;
                    }

                    &.disable {
                         opacity: 60%;
                         cursor: not-allowed;

                         &:hover {
                              opacity: 60%;
                         }
                    }
               }

               .sign-up-text {
                    margin: 15px 0;

                    .sign-up-link {
                         text-decoration: none;
                         color: $theme-color-primary;
                    }
               }
          }

          &.gradient-background {
               background: linear-gradient(280deg, #91eaaf8c, #2e6d41ab, #c2e95690, #80ed9991, #b3eda9, #e8e400af, #62a32cb2, #9de95ea3, #35c46090);
               background-size: 540% 540%;
               animation: gradient-animation 40s ease infinite;
          }

          @keyframes gradient-animation {
               0% {
                    background-position: 0% 50%;
               }

               50% {
                    background-position: 100% 50%;
               }

               100% {
                    background-position: 0% 50%;
               }
          }
     }
}