.chatbox-inside {
     width: 100%;
     border-radius: 15px;
     background-color: rgba(201, 201, 201, 0.304);
     box-shadow: 0 0 20px 0.5px rgba(128, 128, 128, 0.167);
     // animation: popOver 0.2s ease forwards;

     .top-navbar {
          display: flex;
          justify-content: space-between;
          background-color: rgb(255, 255, 255);
          border-radius: 15px 15px 0 0;
          align-items: center;
          padding: 10px 0;

          .name {
               font-size: 1.7rem;
               font-weight: 500;
               margin-left: 10px;
          }

          .button-block {

               .button {
                    font-size: 3rem;
                    color: #333;
                    margin: 10px;

                    &:hover {
                         opacity: 80%;
                    }
               }
          }
     }

     .content {
          height: calc(100vh - 122px);
          display: flex;
          padding: 0 10px;
          width: 100%;
          flex-direction: column;

          .scrollable-feed {
               &::-webkit-scrollbar {
                    width: 0 !important;
                    display: none;
               }    
          }
     }

     .input-block {
          border: 1px solid rgba(198, 198, 198, 0.375);
          border-radius: 0 0 15px 15px;
          // margin-left: -15px;
          // margin-right: -15px;
          margin-bottom: 0;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #fff;

          .icon {
               opacity: 80%;
               transition: 0.2s;
               cursor: pointer;

               &.emoji {
                    font-size: 3rem;
                    margin-left: 20px;
               }

               &.send {
                    font-size: 2.5rem;
                    margin-right: 10px;
                    color: green;
               }

               &:hover {
                    opacity: 100%;
               }
          }

          .form-input {
               width: 85%;
          }

          .input {
               width: 100%;
               height: 40px;
               border: none;

               &:focus {
                    outline: none;
               }
          }
     }
}