.profile-page {

     .user-infor-top {
          background-color: beige;
          height: 100px;

          .avatar-block {

               .avatar-img {
                    width: 100%;
               }
          }
     }
}