@import '../../../../../Components/GlobalStyles/color.scss';

.avatar {
     position: relative;
     display: inline-block;

     &.selected {
          .avatar-img {
               border: 4.5px solid $theme-color-primary;
          }
     }

     &.member {
          .avatar-img {
               opacity: 50%;
               cursor: not-allowed;
               filter: blur(2px);
               border: 3px solid rgb(222, 251, 1);
          }

          .btn-unlock {
               display: inline;
          }
     }

     .avatar-img {
          border-radius: 50%;
          width: 150px;
          transition: 0.2s;
          z-index: 5;
          cursor: pointer;
          user-select: none;

          &:hover {
               transform: scale(1.1);
          }
     }

     .icon {
          position: absolute;
          font-size: 3.5rem;
          top: 8px;
          right: -3px;
          color: $success-color;
          display: none;

          &.show {
               display: inline-block;
          }
     }

     .btn-unlock {
          display: none;
          position: absolute;
          bottom: 45px;
          right: 10px;
     }
}